body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  font-size: 1.12em;
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-left: 0.2rem solid black;
  padding: 0.8rem;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 0.7rem solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 1rem;
}

.row {
  white-space: pre-wrap;
  height: 5rem;
  border-top: 0.1rem solid white;
}

.hour {
  padding-top: 0.8rem;
  background-color: #ffffff;
  color: #696969;
  font-size: 1.5rem;
  border-top: 1px dashed #000000;
}

.past {
  color: #696969;
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  font-size: 2rem;
  border-left: 0.1rem solid black;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  background-color: #02caf7;
  color: yellow;
}
